<%
    let objOrdre = {
        _id : 'asc',
        nom : 'asc',        
        prenom : 'asc',
        telephone : 'asc',
        courriel : 'asc'
    }
    
    if (typeof cle !== 'undefined'  && cle)
        {
            objOrdre[cle] = ordre
        }
%>


<table class="tableau">
    <tr>
        <th><a href="/trier/_id/<%= objOrdre._id %>">_id<i class="fas fa-<%= (objOrdre._id=='asc'?'sort-up': 'sort-down') %>"></i></a></th>
        <th><a href="/trier/nom/<%= objOrdre.nom %>"><%= __("NomLst") %><i class="fas fa-<%= (objOrdre.nom=='asc'?'sort-up': 'sort-down') %>"></i></a></th>
        <th><a href="/trier/prenom/<%= objOrdre.prenom %>"><%= __("PrenomLst") %><i class="fas fa-<%= (objOrdre.prenom=='asc'?'sort-up': 'sort-down') %>"></i></a></th>        
        <th><a href="/trier/telephone/<%= objOrdre.telephone %>"><%= __("TéléphoneLst") %><i class="fas fa-<%= (objOrdre.telephone=='asc'?'sort-up': 'sort-down') %>"></i></a></th>  
        <th><a href="/trier/courriel/<%= objOrdre.courriel %>"><%= __("CourrielLst") %><i class="fas fa-<%= (objOrdre.courriel=='asc'?'sort-up': 'sort-down') %>"></i></a></th>      
    </tr>
    <%  for (elm of adresses) {%>
    <tr id="<%= elm._id %>">
        <td><%= elm._id %></td>
        <td id="<%= elm.nom %>" contenteditable='true'><%= elm.nom %></td>
        <td id="<%= elm.prenom %>" contenteditable='true'><%= elm.prenom %></td>
        <td id="<%= elm.telephone %>" contenteditable='true'><%= elm.telephone %></td>                
        <td id="<%= elm.courriel %>" contenteditable='true'><%= elm.courriel %></td>    
        <td><a class="detruire" href="#"><i class="fas fa-trash-alt" aria-hidden="true"></i></a></td>
        <td><a class='modifier' href="#"><i class="far fa-save" aria-hidden="true"></i></a></td>
    </tr>
    <% } %>
</table>



// dans notre fichier .ejs
<button id='testAJAX'>test AJAX</button>




<script type="text/javascript">

// dans notre fichier .ejs
// Notre code JavaScript pour effectuer un transfert AJAX

let elmBouton = document.getElementById('testAJAX')
    elmBouton.addEventListener('click', ()=> { console.log('ok')
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/ajax_modifier", true); 
})


// Dans notre fichier .ejs
// Pour traiter le résultat transmis par l'application serveur 

    function traiterRequest(e){
       // console.log("xhr.readyState = " + xhr.readyState); console.log("xhr.status = " + xhr.status);
        if(xhr.readyState == 4 && xhr.status == 200){ console.log('ajax fonctionne')
            let  maReponse = JSON.parse(xhr.responseText); 
            //console.log(xhr.responseText + " " + maReponse._id);
        }
    }

// MODIFIER AJAX 
    let elmModifier = document.querySelectorAll('.modifier');
    //console.log(elmModifier.length);
    for (elm of elmModifier){
        elm.addEventListener('click', function(){ 
            //console.log(this.parentElement.parentElement.id)
            let elmTr = this.parentElement.parentElement;
            let _id = elmTr.querySelector('td:nth-child(1)').innerHTML;
            let nom = elmTr.querySelector('td:nth-child(2)').innerHTML;
            let prenom = elmTr.querySelector('td:nth-child(3)').innerHTML;
            let telephone = elmTr.querySelector('td:nth-child(4)').innerHTML;
            let courriel = elmTr.querySelector('td:nth-child(5)').innerHTML;

            // ######  méthode sans ajax => ##BLOCK 1###
            xhr = new XMLHttpRequest();
            xhr.open('POST', "/ajax_modifier", true);
    
            jsonDataMod = {
                "nom" : nom,
                "prenom" : prenom,
                "telephone" : telephone,
                "courriel" :courriel,
                "_id" : _id
            }; //*console.log(jsonDataMod);//*/

            stringifyDataMod = JSON.stringify(jsonDataMod);

            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(stringifyDataMod);

            xhr.addEventListener("readystatechange", traiterRequest, false);
            })
        }

       


// DÉTRUIRE AJAX 
        let elmDetruit = document.querySelectorAll('.detruire');
        
        for (elm of elmDetruit){
            elm.addEventListener('click', function(){ 
                //console.log(this.parentElement.parentElement)
                let elmTr2 = this.parentElement.parentElement; 
                let _id2 = elmTr2.querySelector('td:nth-child(1)').innerHTML;

                xhr = new XMLHttpRequest();
                xhr.open('POST', "/ajax_detruire", true);

                jsonDataDel = {
                    "_id" : _id2
                }; console.log(jsonDataDel);

                StringifyDataDel = JSON.stringify(jsonDataDel);

                xhr.setRequestHeader('Content-type', 'application/json');
                xhr.send(StringifyDataDel);
                 
                console.log(StringifyDataDel);
                
                elmTr2.parentElement.removeChild(elmTr2);
               
                xhr.addEventListener("readystatechange", traiterRequest, false);
            })
        }









/*// #### BLOCK 1 #####
elmForm = document.getElementById('frmUpdate');
elmForm.nom.value = nom;
elmForm.prenom.value = prenom;
elmForm.telephone.value = telephone;
elmForm.courriel.value = courriel;
elmForm._id.value =  _id;
elmForm.submit();
//*/
</script>


